### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [64]:
# Summary Based on Data

#Over 90% of purchases are made by Male gamers.
#About 84% gamers are Male.
#Average purchase order is around $3.00
#To get more Female gamers, advertisers need to focus on that market.
#Maybe offer female gamers a discount on purchase. 
#About 44% of gamers are between the ages of 20-24. Advertising should be focused on college markets.




# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "C:\\Users\\hjp28\\Desktop\\Bootcamp\\04-Pandas\\Instructions\\HeroesOfPymoli\\Resources\\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Printing all of the headers
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [65]:
# Viewing table with Gender, SN, AGE

demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
demographics.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [66]:
# Counting total number of players


demographics = demographics.drop_duplicates()
num_players = demographics.count()[0]
num_players

# Creating table with Total Number of Players    


pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
# Calculating avg. purchase price, total purchases, total revenue

avg_price = purchase_data["Price"].mean()
total_purchase = purchase_data["Price"].sum()
purchase_count = purchase_data["Price"].count()
item_count = len(purchase_data["Item ID"].unique())

# Creating table 

final_table = pd.DataFrame({"Number of Unique Items": item_count,
                               "Total Revenue": [total_purchase],
                               "Total Number of Purchases": [purchase_count],
                               "Average Purchase Price": [avg_price]})



# Format for decimals

final_table = final_table.round(2)

# Format for "$" sign

final_table ["Average Purchase Price"] = final_table["Average Purchase Price"].map("${:,.2f}".format)
final_table ["Total Revenue"] = final_table["Total Revenue"].map("${:,.2f}".format)

# Arranging the column names 

final_table = final_table.loc[:, ["Number of Unique Items", "Average Purchase Price", "Total Number of Purchases", "Total Revenue"]]

# printing the table

final_table

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [68]:
# Basic Calculations
gender_totals = demographics["Gender"].value_counts()
gender_percents = gender_totals / num_players * 100

# Data Cleanup
gender_demographics = pd.DataFrame({"Total Count": gender_totals,
                                    "Percentage of Players": gender_percents})

gender_demographics = gender_demographics.round(2)

#Data Gender_demographics
gender_demographics

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:

gender = purchase_data.groupby("Gender")

# Total purchases by gender 
purchase_count = gender["Purchase ID"].count()

# Avg. purchase prices by gender
avg_purchase_price = gender["Price"].mean()

# Avg. purchase total by gender 
purchase_total = gender["Price"].sum()

# Avg. purchase total by gender divivded by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total/gender_totals

# Create New Table/df
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Provide index in top left as "Gender"
gender_demographics.index.name = "Gender"

# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [79]:
# Create Bins
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# New data frame with the "Age Group" and grouped it

age_grouped = purchase_data.groupby("Age Group")

# Total players by age category 
total_count_age = age_grouped["SN"].nunique()

# Percentages by age category 

percentage_by_age = (total_count_age/num_players) * 100

# Create new df

age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Index name 

age_demographics.index.name = "Age Group"

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

In [80]:
# Just wanted to see the original file headings

purchase_data.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+

In [87]:

# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Naming Index

age_demographics.index.name = "Age Group"

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [86]:
#Calculations

user_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({"Total Purchase Value": user_total,
                          "Average Purchase Price": user_average,

                          "Purchase Count": user_count})

# Just formatting

user_data = user_data.round(2)




# Convert to Data Frame
user_data.sort_values("Total Purchase Value", ascending=False).head(5)

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                    3.79               5
Idastidru52                 15.45                    3.86               4
Chamjask73                  13.83                    4.61               3
Iral74                      13.62                    3.40               4
Iskadarya95                 13.10                    4.37               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [84]:

# Create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_group = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_group["Price"].count()

# Purchase value per item 
purchase_value = (item_group["Price"].sum()) 

# Individual item price
item_price = purchase_value/purchase_count_item

# Creating dataframe
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Top spenders

popular = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Formating
popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [85]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value

popular = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format 
popular.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})